*{
    padding: 0;
    margin: 0;
}

body{
    background-image:url(../img/bg.jpg);
}

header{
    background-color: #253646;
    padding: 2%;
}

h1{
    display: flex;
    justify-content: center;
    color: #2473AA;
    height: 128px; 
    background: url(../img/logo.png) no-repeat left top;
    margin: 0;
    text-align: center;
    font-size: 317%;
}

.icon{
    display: inline-flex;
    flex-direction: column-reverse;
    float: right;
}

i{
    font-size: 2rem;
    padding: 0em 0.4em;
    color: #127680;
}

nav{
    background-color: #2475B0;
    padding: 2%;
}

ul{
   display: flex;
   justify-content: center;
    list-style-type: none;
    letter-spacing: 1px;
}

 li a{ 
    display: block;
    background-color: #5FC3FC;
    font-size: 17px;
    border-radius:  25% 10% ;
    padding: 8px;
    margin: 2px;
    border: 2px solid snow;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

 ul li a:hover{
    color: aliceblue;
}

.container{
    width: 950px; 
	margin: 0 auto;
}

.banner1{
    background-color: #5FC3FA;
    padding: 5px;
}

.banner2{
    background-color: #9BD0BB;
    padding: 12%;
}

.banner3{
    background-color: #DADADA;
    padding: 2%;
    opacity: 0.50;
}

.banner4{
    background-color: #D5F69C;
    padding: 2%;
}

.footer1{
    background-color: #2475B0;
    padding: 13px;
}

.container2{
    width: 950px; 
	margin: 0 auto;
    
}
.text{
    font-size: 38px;
    color: black !important;
}

.banner5{
    background-color: #dadada62;
    color: rgba(0, 0, 0, 0.185);
    text-align: start;
    margin-bottom: 1px;
    height: 171px;
}

.Titre{
    padding: 20px;
}

.banner6{
    background-color: #D5F69C;
    height: 165px; 
}

.article1{
    font-weight: bold;
}

.padding{
    padding: 1%;
    color: #778779;
    margin-left: 24px;
    margin-bottom: 6px;
}

.padding2{
    padding: 1%;
}

i{
    font-size: 20px;
    color: black;
}

.banner7{
    background-color: #DADADA;
    padding: 2%;
    opacity: 0.50;
}

.banner8{
    background-color: #D5F69C;
    height: 165px;
}

.container3{
    width: 950px; 
	margin: 0 auto;
    
}

.banner9{
    background-color: #dadada62;
    color: rgba(0, 0, 0, 0.185);
    text-align: start;
    margin-bottom: 1px;
    height: 150px;
}

.banner10{
    background-color: #D5F69C;
    height: 364px;
    display: flex;
    flex-direction: column;
}

.selecteur{
    padding: 30px;
}
section span:nth-child(2){
    color: pink;
}
section span:nth-child(3){
 color: red;
}
section span:nth-child(4){
color: red;
}
section span:nth-child(5){
color: red;
}
section span:nth-child(6){
color: black;
}
section span:nth-child(7){
color: black;
}
section span:nth-child(8){
color: red;
}
section span:nth-child(9){
color: red;
}
section span:nth-child(10){
color: red;
}
section span:nth-child(11){
color: pink;
}
section span:nth-child(12){
color: red;
}
section span:nth-child(13){
color: brown;
}

section span:nth-child(14){
color: #83f52c;
}
.didier{
    color: #00ff00;
    font-style: italic;
    font-size: 160%;
}
.banner11{
    background-color: #dadada62;
    color: rgba(0, 0, 0, 0.185);
    text-align: start;
    margin-bottom: 1px;
    height: 150px;
}

.background_image{
    background-image: url(../img/fond.jpg);
    width: 100%;
    height: 500px;
}
.devant{
    padding: 3%;
}
.lorem-image{
    border-radius:8px;
    background-color: rgba(255, 255, 255, 0.63);
    margin: 163px;
    text-align: left;
}

.banner13{
    background-color: #DADADA;
    padding: 2%;
    opacity: 0.50;
}
.banner14{
    background-color: #D5F69C;
    height: 480px;
}
.milieu{
    display: flex;
    justify-content: center;
}
.centrer{
    display: flex;
    justify-content: center;
    padding: 3%;
}
.pont{
    width: 25%;
    height: 200px;
}
.banner15{
    background-color: #D5F69C;
    height: 700px;
}
.rotate-center:hover {
	-webkit-animation: rotate-center 2s 1s infinite ;
	        animation: rotate-center 2s 1s infinite ;
            border: 10px solid white ;
}
/* ----------------------------------------------
 * Generated by Animista on 2024-7-22 16:41:10
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-center
 * ----------------------------------------
 */
 @-webkit-keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  
